.video-box {
    width: 100%;
    height: 66vh;
    background-color: #dadfe7;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.video-box img{
    height: 60px;
    width: 60px;
}

.text-box {
    width: 95.5%;
    height: 18vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 8px;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 20px;
}

.text-box span:nth-child(1){
    font-weight: 700;
}

.button-box {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    gap: 5vw;
    align-items: center;
}
.button-box img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.button-box img:nth-child(2){
    width: 45px;
    height: 45px;
    transform: rotate(135deg);
}
.button-box img:nth-child(1){
    text-decoration: line-through;
}

.video-content {
    width: 60vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}
.recorder{
    position: absolute;
    z-index: -10;
    visibility: hidden;
}